 #part1, #part2, #part3 {
	float: right;
	clear: right;
	padding: 10px;
	margin:auto;
	font-family:sans-serif;
}
#part1, #part2 {
	font-size: 2vw;
}
#main {
	width: 98vw;
}
#portrait {
	padding-top: 40px;
	margin: 0;
}
p,div {
	padding:0px;
	margin:0px;
}